.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 250;
  flex-direction: column;
}

.bg {
  background: linear-gradient(to top, #0a0a0a, #181a1a, #1d1d1f);
}

.notready {
  color: #606060;
}

.clicked {
  pointer-events: none;
  opacity: 0;
  display: none;
}

/* .main-titles{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Chopper';
  font-size: 14rem;
  letter-spacing: .1em;
} */

.main-titles {
  /* shrink-wrap to the size of the h1 text */
  display: inline-block;
  position: relative;

  /* center in your fullscreen flex if you still need that: */
  /* margin: 0 auto; */
}

.main-titles h1 {
  font-family: 'Chopper';
  font-size: 14rem;
  letter-spacing: .1em;
  margin: 0;               /* reset default margins */
}

.main-titles h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  
  /* style it as you like: */
  font-size: 1.25rem;
  color: #ccc;
  margin: 0.2em;           /* optional padding from the corner */
}

.message-box{
  z-index: 150;
}